@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

/* ======= Your styling goes below ======= */



.container { 
  box-sizing: border-box; 
  font-family: 'sans-serif';  
}

img { width: 100%; }

h3 {
  color: rgba(0,0,0,.8);  
  font-size: 26px;
  letter-spacing: -1px;
}


.container > .wrapper {
  max-width: 1356px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* *****style for div to give bg-image******* */

.alice-bg {
  height: auto;
  background-image: url('../images/bg-image-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  flex-basis:  43.7%;
  -webkit-background-size: cover;
  background-size: cover;
}

.content { flex-basis: 48.8%; }

.content .wrapper {
  max-width: 495px;
  width: 79.45%;
}


/* **** style for header starts here**** */

header .wrapper { padding: 9.9% 0 13%; }

h1 {
  width: 15%;
  display: inline-block;
}

h1 a {
  width: 100%;
  display: inline-block;
  text-indent: -9999px;
}

h1 a img { float: left; }

/* **** style for header ends here***** */

/* **** style for the launch section starts here***** */

.launch p {
  margin-top: 39px;
  color: rgba(0,0,0,.5);
  font-size: 12px;
}


.counter {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.counter li { position: relative; }

.counter li:after {
  content: '\003A';
  display: inline-block;
  position: absolute;
  top: 0px;
  right: -40px;
  color: rgba(0, 0, 0, .1);
  font-size: 55px;

}

.counter li span { 
  display: block; 
  text-align: center;
}

.counter li:last-of-type:after { content: none; }

.counter .count {
  color: #45b6d2;
  font-size: 54px;
}

.counter  .caps {
  display: inline-block;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* **** style for the launch section ends here***** */

/* ******* style for subscribe section starts here*********/
.subscribe-form .wrapper { padding: 8.8% 0 0; }
.subscribe-form h3 { font-size: 24px; }

form { 
  margin-top: 43px; 
  display: flex;
  justify-content: space-between;
}

.email { 
  position: relative; 
  flex-basis: 65%;
}

form input {
  width: 100%;
  padding: 12px 21px;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 50px;
  display: block;
  font-size: 10px;
  outline: none;
}

form input.error { border: 1px solid #f56e80; }

.email span {
  margin-top: 10px;
  display: inline-block;
  display: none;
  position: absolute;
  bottom: -25px;
  left: 15px;
  color: #ff0000;
  font-size: 12px;
}

.email span.show { display: block; }

button {
  width: 23%;
  padding: 12px 14px;
  border: 1px solid #f56e80;
  border-radius: 50px;
  margin-bottom: auto;
  vertical-align: top;
  background-color: #f56e80;
  color: #fff;
  font-size: 11px;
  text-transform: capitalize;
  outline: none;
}

button:hover {
  border: 1px solid #f56e80;
  background-color: #fff;
  color: #f56e80;
  transition: .6s;
}

/* *****style for subscribe section ends here***** */

/* **** style for footer starts here***** */

footer .wrapper { padding: 11.5% 0 10.5%; }

footer span {
  color: rgba(0, 0, 0, .6);
  font-size: 10px;
  text-transform: capitalize;
}

footer a {
  border-bottom: 1px solid transparent;
  color: rgba(0, 0, 0, .6);
  font-size: 10px;
  text-transform: capitalize;
  text-decoration: none;

}

footer a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, .6);
  transition: .6s;
}


/* **** style for footer ends here***** */

/* **** media query for 1024px starts here ****** */

@media  screen and (max-width: 1024px) {
  .alice-bg { flex-basis: 41.7%; }
  .content { flex-basis: 53%; }

  button:hover {
    border: 1px solid transparent;
    background-color: #f56e80;
    color: #ffff;
    transition: .6s;
  }
}

/* *****meda query for 1024 ends here****** */

/* **********media query for 900 starts here****** */
@media screen and (max-width: 900px){
  .alice-bg { display: none; }
  .content {flex-basis: 100%; }
  .counter li:after { right:-94px }
  .content .wrapper { 
    max-width: 1154px;
    width: 89.73%;  
    margin: 0 auto; 
  }

  h1 { 
    margin: 0 auto; 
    display: block;
  }

  footer .wrapper { text-align: center; }
}

/* *****media query for 900 ends here***** */

@media screen and (max-width: 768px){
  .counter li:after { right: -53px; }
  
  footer a:hover {
    border-bottom: 1px solid transparent;
    transition: .6s;
  }
}




/* ***media query from 460 starts here ***** */

/* **** medaia query for 768px starts here*** */

@media screen and (max-width: 460px){
  h1 { min-width: 75px; }

  .counter li:after { 
    top: -8px;
    right: -24px; 
  }
  
  form { flex-wrap: wrap; }
  .email { flex-basis: 100%; }
  .email input { width: 89%; }

  .email span.show { 
    z-index: -1;
    top: -30px; 
  }

  h3 { font-size: 22px; }
  .subscribe-form h3 { font-size: 22px;}
  .counter .count { font-size: 40px; }
  .email input { font-size: 15px; }
  
  button { 
    margin-top: 9px; 
    font-size: 15px;
    flex-basis: 100%;
  }
  .email input { 
    width: 86%; 
    padding: 12px 19px;
  }

}

/* ***media query for 768 ends here**** */

/* *****media query for 460 ends here***** */

